body{
    background-color: #5A5D59;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px 80px auto 50px;;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

header{
    grid-area: header;
    text-align: center;
}

nav{
    grid-area: nav;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2;
    padding: 2;
    border: 3px solid black;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

th {
    border: 1 px solid rgb(0, 0, 0);
    padding:  px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #7e60e9;
}

tr:nth-child(odd) {
    background-color: #2f9ddd;
}

th[scope="col"] {
    background-color: #919191;
}

caption {
    font-size: x-large;
}
