body {
	background-color: green;
	color: blue;
}

h1 {
	text-align: center;
    font-family: Arial;
    font-size: 22px;
}

.altP {
	text-align: right;
	border: 1px solid black;
}

.Programm {
    text-align: center;
}

h2 {
    text-align: center;
}

.tankar {
    text-align: right;
}

.mig-själv {
    border: 5px solid black;
}
